.spinner-backdrop{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.6);
}

.spinner-area{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;	
}

	.spinner{

	}

	H2{
		width: 200px;
		height: 200px;
		background: red;
	}